pyblock==0.6.0
numba==0.55.2
# numpy==1.24.0 to fix compatibility with python3.10
pandas==1.4.3  # for pyblock
# colorama==0.3.9
scipy==1.8.1
sympy==1.10.1
# numba-scipy==0.3.1
icc-rt==2020.0.133
# matplotlib==3.2.1
pyyaml==6.0.0  # for gjastrow loader
psutil==5.9.1  # for decorators.py
pathos==0.2.9  # for multiprocessing
